@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Sensores e Vizualiação de Registros</h1>

    <a class="btn btn-primary m-2" asp-controller="Sensor" asp-action="Index">Vizualiza Sensores</a>
    <a class="btn btn-primary m-2" asp-controller="Swagger" asp-action="Index">Documentação da API</a>
</div>
